.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-24);
}

.popularSection {}
.onlineSection {}
.trendingSection {}
.newsletterSection { }

@media (max-width: 1200px) {
  .cardsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .cardsGrid {
    grid-template-columns: 1fr;
  }
}
